# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
.env
.env.*
!.env.example

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads
uploads/
private_storage/

# OS
.DS_Store
Thumbs.db